body{
	background-color: white;
	color: black;
	font-family: "Playfair Display", arial;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 1px;
	margin: 0;
}

h1 {
	font-size: 2.5rem;
	font-weight: 900;
	margin-bottom: 20px;
	font-style: italic;
}
h2{
	font-size: 2em;
	font-weight: 700;
	font-style: italic;
}
h3{
	font-size: 1.5em;
	font-style: italic;
}
p{
	font-weight: 400;
}

strong {
	font-weight: bold;
}

.content-om h3 strong {
	display: inline;
	white-space: normal;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: white;
	color: black;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.menu-toggle {
	display: none;
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 15px;
}

.logo-container {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.logo {
	width: 200px;
	height: auto;
}

nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

nav li {
	margin: 15px;
}

nav a {
	text-decoration: none;
	color: rgb(75, 167, 184);/*färg headlines*/
	font-size: 1.3em;
}
nav a:hover {
	color: rgb(89, 167, 227); /* Color on hover */
}

.menu-btn {
	background-color: rgb(75, 167, 184);
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-size: 1em;
	margin-right: 40px;
}
.menu-btn:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}

main > *{
	margin: 0 auto;
}

.get-started{
	height: 800px;
	background-image: url(/images/first.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}
.content{
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	background-color: rgb(101, 128, 119, 0.6);
	margin-left: 5%;
}
.content > h2{
	margin-bottom: 50px;
}
.content > h3{
	font-size: 1.3em;
}
.button-get-started {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgb(75, 167, 184);
	color: white;
	text-decoration: none;
	border-radius: 20px;
	text-align: center;
}
.button-get-started:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}

.get-started-tjanster{
	height: 800px;
	background-image: url(/images/Tjanst.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}
.content-tjanster{
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	background-color: rgb(101, 128, 119, 0.6);
	margin-left: 5%;
}
.content-tjanster > h2{
	margin-bottom: 50px;
}
.content-tjanster > h3{
	font-size: 1.3em;
}

.get-started-sorg{
	height: 800px;
	background-image: url(/images/Sorg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}
.content-sorg{
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	background-color: rgb(101, 128, 119, 0.6);
	margin-left: 5%;
}
.content-sorg > h2{
	margin-bottom: 50px;
}
.content-sorg > h3{
	font-size: 1.3em;
}


.get-started-om{
	height: 800px;
	background-image: url(/images/Om.png);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}
.content-om{
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	background-color: rgb(75, 167, 184, 0.6);
	margin-left: 5%;
}
.content-om > h2{
	margin-bottom: 50px;
}
.content-om > h3{
	font-size: 1.3em;
}

.terms-section {
	margin-bottom: 220px;
	margin-top: 100px;
	margin-left: 5%;
	max-width: 1200px;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: lightgrey;
}
.terms-section > h1{
	margin-bottom: 40px;
}
.terms-section > h2{
	margin-bottom: 30px;
}
.terms-section > h3{
	margin-bottom: 20px;
}
.terms-section > p{
	margin-bottom: 10px;
}

.valkommen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 65%;
	background-color: white;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
.valkommen > h3 {
	margin-bottom: 20px;
}
.valkommen > p {
	margin-bottom: 70px;
}

.valkommen-sorg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgb(242, 237, 232);
	margin: 0 auto;
	padding-bottom: 50px;
}

.valkommen-sorg h3 {
	margin-bottom: 0px;
	text-align: left; /* Aligns the h3 to the left */
	width: 70%; /* Keeps the h3 within the content width */
}

.valkommen-sorg p {
	width: 70%;
	margin-bottom: 20px;
	text-align: left; /* Keeps paragraphs left-aligned */
}

.centered-list {
	list-style-type: disc;
	list-style-position: inside;
	width: 70%; /* Keeps the list width consistent */
	margin: 0 auto;
	text-align: left; /* Aligns the list and text inside to the left */
	padding-left: 0; /* Removes extra padding */
}

.centered-list li {
	margin-bottom: 10px; /* Adds space between list items */
}

.valkommen-sorg strong {
	display: block;
	text-align: left; /* Aligns the strong element to the left */
	font-size: 1.3em;
	margin-top: 20px;
	width: 70%; /* Keeps it within the content width */
}

.valkommen-sorg-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: white;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
.valkommen-sorg-2 > h3 {
	margin-bottom: 20px;
}
.valkommen-sorg-2 > p {
	margin-bottom: 70px;
	width: 70%;
	text-align: left;
}
.button-container-sorg {
	text-align: center; /* Centers the button horizontally */
	position: relative; /* Allows z-index to take effect */
	z-index: 10;
	padding-bottom: 100px;
	margin-top: -40px;
	margin-left: 10px;
	margin-right: 10px;
}

.custom-shape-divider-bottom-1721373953 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721373953 svg {
	position: relative;
	display: block;
	width: calc(129% + 1.3px);
	height: 106px;
}

.custom-shape-divider-bottom-1721373953 .shape-fill {
	fill: rgb(242, 237, 232);
}

.container-grid-articles{
	background-color: rgb(242, 237, 232);
	padding-bottom: 40px;
}
.container-grid-articles > h2{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.container-grid-articles > h3{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.grid-articles{
	position: relative;
	display: flex;
	background-color: rgb(242, 237, 232);/*bakgrundfärg text efter startbild*/
	width: 100%;
	grid-template-columns: repeat(2, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
	overflow: hidden;
}
.grid-articles > article {
	margin-top: 50px;
	margin-bottom: 70px;
	padding-right: 20px;
	padding-left: 50px;
	text-align: left;
}
.dot {
	color: black;
}
@media (max-width: 1000px){
	.grid-articles{
		grid-template-columns: repeat(2, 40vw);
	}
	.grid-articles > article{
		padding-right: 50px;
	}
}


.grid-articles-sorg{
	position: relative;
	display: flex;
	background-color: white;/*bakgrundfärg text efter startbild*/
	width: 100%;
	grid-template-columns: repeat(2, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
	overflow: hidden;
}
.grid-articles-sorg > article {
	margin-top: 50px;
	margin-bottom: 70px;
	padding-left: 50px;
	text-align: left;
}
.dot {
	color: black;
}
@media (max-width: 1000px){
	.grid-articles-sorg{
		grid-template-columns: repeat(2, 40vw);
	}
	.grid-articles-sorg > article{
		padding-right: 50px;
	}
}
body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal overflow */
}

.container-grid-articles-om{
	background-color: rgb(242, 237, 232);
	margin-top: -30px;
}
.container-grid-articles-om > h2{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.grid-articles-om{
	position: relative;
	display: flex;
	background-color: rgb(242, 237, 232);
	width: 100%;
	grid-template-columns: repeat(2, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
	overflow: hidden;
}
.grid-articles-om > article {
	margin-top: 50px;
	margin-bottom: 70px;
	padding-right: 20px;
	padding-left: 50px;
	text-align: left;
}
.dot {
	color: black;
}
@media (max-width: 1000px){
	.grid-articles-om{
		grid-template-columns: repeat(2, 40vw);
	}
	.grid-articles-om > article{
		padding-right: 50px;
	}
}

.container-grid-articles-kontakt {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.container-grid-articles-kontakt > h2{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.grid-articles-kontakt{
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1200px;
	gap: 50px; /* Space between the articles */
}
.info-article {
	flex: 1;
	padding: 20px;
	border-radius: 8px;
}
.info-article > p{
	font-size: 1.1em;
}
.form-article {
	flex: 1;
	padding: 20px;
	border-radius: 15px;
}
.form-article > p{
	font-size: 3px;
}
.form-article input,
.form-article textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.form-article textarea {
	height: 100px; /* Set a height for the message textarea */
	resize: vertical; /* Allow vertical resizing only */
}
.early-btn-kontakt {
	margin-top: 10px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1em;
	background-color: rgb(75, 167, 184);
	text-decoration: none;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	margin-bottom: 30px;
}
.early-btn-kontakt:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}
.social-icons-kontakt a {
	margin-right: 10px;
}

.custom-shape-divider-bottom-1715809508 {
	position: absolute;/*https://www.shapedivider.app/*/
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}
.custom-shape-divider-bottom-1715809508 svg {
	position: relative;
	display: block;
	width: calc(140% + 1.3px);
	height: 90px;
}
.custom-shape-divider-bottom-1715809508 .shape-fill {
	fill: #FFFFFF;
}

.grid-options{
	position: relative;
	display: flex;
	background-color: white;/*bakgrundfärg kurs i grupp osv*/
	width: 100%;
	grid-template-columns: repeat(3, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
}
.grid-options > article {
	margin-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 100px;
	text-align: center;
}
@media (max-width: 1000px){
	.grid-options{
		grid-template-columns: repeat(3, 40vw);
	}
	.grid-options > article{
		padding-right: 40px;
	}
}
.grid-options > article > img{
	height: 7rem;
	width: auto;
}
.button-container {
	text-align: center; /* Centers the button horizontally */
	position: relative; /* Allows z-index to take effect */
	z-index: 10;
	padding-bottom: 50px;
}
.centered-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgb(75, 167, 184);
	color: white;
	text-decoration: none;
	border-radius: 20px;
}
.centered-button:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}

.grid-options-h3{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.grid-options-tjanser-2{
	position: relative;
	display: flex;
	background-color: white;/*bakgrundfärg kurs i grupp osv*/
	width: 100%;
	grid-template-columns: repeat(3, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
}
.grid-options-tjanser-2 > article {
	margin-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 100px;
	text-align: center;
}
@media (max-width: 1000px){
	.grid-options-tjanser-2{
		grid-template-columns: repeat(3, 40vw);
	}
	.grid-options-tjanser-2 > article{
		padding-right: 40px;
	}
}


.grid-options-tjanster{
	position: relative;
	display: flex;
	background-color: rgb(242, 237, 232);/*bakgrundfärg kurs i grupp osv*/
	width: 100%;
	grid-template-columns: repeat(3, 500px);
	align-items: center;
	justify-content: center;
	row-gap: 0;
}
.grid-options-tjanster > article {
	margin-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 100px;
	text-align: center;
}
@media (max-width: 1000px){
	.grid-options-tjanster{
		grid-template-columns: repeat(3, 40vw);
	}
	.grid-options-tjanster > article{
		padding-right: 40px;
	}
}
.grid-options-tjanster > article > img{
	height: 7rem;
	width: auto;
}
.h3-link {
	text-decoration: none;
	color: inherit; /* Keeps the link color the same as the heading color */
}
.h3-link:hover {
	color: #007bff; /* Color on hover */
}
.grid-options-tjanster-h3{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Vad-tjanser {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgb(242, 237, 232);
	text-align: left;
	margin: 0 auto;
	margin-top: -20px;
}
.Vad-tjanser > h3 {
	margin-bottom: 20px;
}
.Vad-tjanser > p {
	margin-bottom: 30px;
	width: 60%;
}
.button-container-tjanser {
	text-align: center;
	position: relative;
	padding-bottom: 50px;
	background-color: rgb(242, 237, 232);
	z-index: 10;
}

.custom-shape-divider-bottom-1717281292 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}
.custom-shape-divider-bottom-1717281292 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 80px;
}
.custom-shape-divider-bottom-1717281292 .shape-fill {
	fill: #F2EDE8;
}

.stay-productive {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(242, 237, 232); /* Background color */
	flex-wrap: wrap;
}
.stay-productive-image {
	flex: 0 0 auto;
	max-width: 35%;
	height: auto;
	object-fit: contain;
	margin: 0;
	padding: 0;
	align-self: flex-start; /* Ensures alignment inside the flexbox */
	display: block;
}
.stay-productive > .text {
	flex: 0 0 50%;
	max-width: 50%;
	margin-left: 5%;
}
.stay-productive > .text > h2 {
	margin-top: 20px;
}
.stay-productive > .text > p {
	font-weight: 100;
	text-align: left; /* Ensure the text is left-aligned */
	line-height: 1.6; /* Adjust line height for readability */
}
.button-stay-productive {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgb(75, 167, 184);
	color: white;
	text-decoration: none;
	border-radius: 20px;
}
.button-stay-productive:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}
@media (max-width: 1000px) {
	.stay-productive {
		grid-template-columns: repeat(3, 40vw);
	}

	.grid-options > article {
		padding-right: 40px;
	}
}
.stay-productive > .text > p > strong {
	font-size: 1.3em;
}

.stay-productive-sorg{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 60px;
	box-sizing: border-box;
	background-color: white;/*bakgrundfärg jag är anna*/
	flex-wrap: wrap;
}
.stay-productive-sorg > .text-sorg{
	flex: 0 0 50%;
	max-width: 50%;
	margin-left: 5%;
}
.stay-productive-sorg > .text-sorg > h2{
	margin-top: 20px;
}
.stay-productive-sorg > .text-sorg > p{
	font-weight: 100;
	text-align: left; /* Ensure the text is left-aligned */
	line-height: 1.6; /* Adjust line height for readability */
}

.stay-productive-om {
	display: flex;
	flex-direction: row; /* Image and text side by side */
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
	padding-bottom: 70px;
}

.stay-productive-image-om {
	flex: 0 0 35%; /* Make the image take 35% of the width */
	max-width: 35%;
	height: auto;
	object-fit: contain;
	margin-right: 5%; /* Add some space between the image and text */
	padding: 0;
	display: block; /* Ensure image is block-level */
}

.text-om {
	flex: 0 0 50%; /* Text container takes 50% of the width */
	max-width: 50%;
	text-align: left; /* Align text to the left on larger screens */
	margin: 0;
	padding: 0;
}

.text-om > h2 {
	margin-bottom: 20px;
}

.text-om > p {
	font-weight: 100;
}


.faq-section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.faq-section > h2{
	text-align: center;
	margin-bottom: 50px;
}
.faq-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.faq-column {
	flex: 1;
	min-width: 300px;
}
.faq-item {
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.faq-question {
	width: 100%;
	text-align: left;
	padding: 15px;
	border: none;
	color: rgb(75, 167, 184);
	background-color: #f9f9f9;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	transition: background-color 0.3s;
}
.faq-question:hover {
	background-color: #e9e9e9;
}
.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	padding: 0 15px;
	background-color: #fafafa;
}
.faq-answer p {
	margin: 15px 0;
}
.faq-question.active {
	background-color: #e9e9e9;
}


.quotes{
	display: flex;
	width: 95%;
	margin: 100px auto;
	text-align: left;
	align-items: center;
}
.quotes > .container{
	height: auto;
	width: 33%;
	background: rgb(237, 232, 229);/*bakgrundfärg quotes*/
	margin: auto 15px;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 10px 7px hsl(218, 28%, 14%);
}
.quotes > .container > div{
	display: flex;
	align-items: center;
}
.quotes > .container > div > img{
	border-radius: 50%;
	height: auto;
	width: 15%;
}
.quotes > .container > .person{
	display: flex;
	justify-content: center;
	align-items: center;
}
.quotes > .container > .person > p{
	margin: 0px 0px 3px 10px;
	font-size: 1.2em;
	text-align: center;
	font-weight: 700;
	font-style: italic;
}
@media (max-width: 1000px){
	.quotes > .container > .author > .person > .name{
		font-size: 1.1em;
	}
	.quotes > .container > p{
		font-size: 0.9em;
	}
}

.early-access-card{
	position: relative;
	z-index: 10;
	height: auto;
	width: 70%;
	background-image: url(/images/Nyhet.png);
	margin: 200px auto 100px;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 10px 7px hsl(218, 28%, 14%);
	text-align: center;
	padding: 3% 5%;
	margin-top: -10px;
}
.early-access-card > p{
	padding: 40px 10px;
	margin-top: -40px;
}
.early-access-card > .email-form{
	display: block;
	width: 100%;
	z-index: 2;
	margin-bottom: 20px;
}

.email-form > input{
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 15px;
}
.early-txt{
	margin-top: 20px;
	font-size: 0.7em;
	margin-bottom: -30px;
}
.early-btn{
	display: inline-block;
	color: white;
	background-color: rgb(75, 167, 184);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-size: 1em;
}
.early-btn:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}
@media (max-width: 1000px){
	.early-access-card{
		margin-top: 100px;
	}
}

.insta {
	color: black;
	text-decoration: none; /* Optional: remove underline if needed */
}

.insta:hover {
	color: darkgray; /* Optional: color change on hover */
}

.image-grid {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.image-grid a {
	flex: 1;
}
.image-grid img {
	width: 80%;
	height: auto;
	border-radius: 8px;
	transition: transform 0.3s ease;
}
.image-grid img:hover {
	transform: scale(1.05);
}


footer{
	z-index: 1;
	position: relative;
	background-color: rgb(237, 232, 229);/*bakgrundfärg footer*/
	display: flex;
	margin-top: -200px;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
}
footer > .column {
	width: 23%;
	margin-bottom: 50px;
	margin-top: 100px;
}
footer > .column:nth-child(2n) {
	margin-left: 2%;
	margin-right: 0;
}
footer > .footer-image {
	width: 100%;
	height: auto;
}

footer > h3 {
	margin-top: 0;
}
.headline-link {
	text-decoration: none;
	color: #333; /* Default color */
}

.headline-link:hover {
	color: #007bff; /* Color on hover */
}

footer > a {
	text-decoration: none;
	color: #333;
	font-size: 1.5em;
	font-style: italic;
}

footer > .social-icons {
	display: flex;
	height: 1rem;
	width: auto;
}

footer > .social-icons a {
	margin-right: 10px;
	height: 1rem;
	width: auto;
}

.footer-btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgb(75, 167, 184);
	color: white;
	text-decoration: none;
	border-radius: 20px;
	text-align: center;
}
.footer-btn:hover {
	color: rgb(0, 123, 203); /* Color on hover */
}

@media only screen and (max-width: 700px){
	body{
		font-size: 0.9em;
		text-align: center;
	}
	h1,h2,h3,p{
		font-weight: 100;
	}

	header {
		flex-direction: column;
		align-items: center;
		position: fixed;
		padding: 10px;
	}

	.logo-container {
		margin-bottom: 10px;
		margin-right: 30px;
	}

	nav ul {
		display: none;
		flex-direction: column;
		align-items: center;
	}

	.nav-links.active {
		display: flex;
	}

	.menu-btn {
		display: none;
		margin-right: 0px;
	}

	.menu-btn.active {
		display: block;
		margin-top: 10px;
	}

	.menu-toggle {
		display: block;
		position: absolute;
		left: 20px;
		top: 15px;
	}

	.get-started{
		height: 600px;
	}
	.content{
		text-align: center;
		width: 100%;
		margin-left: 50px;
		margin-right: 50px;
	}

	.content > h2{
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.content > h3{
		font-size: 1em;
		width: 100%;
		margin-bottom: 10px;
	}

	.get-started-tjanster{
		height: 500px;
	}
	.content-tjanster{
		text-align: center;
		width: 100%;
		margin-left: 50px;
		margin-right: 50px;
	}
	.content-tjanster > h2{
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.content-tjanster > h3{
		font-size: 1em;
		width: 100%;
		margin-bottom: 10px;
	}

	.get-started-sorg{
		height: 600px;
	}
	.content-sorg{
		text-align: center;
		width: 100%;
		margin-left: 50px;
		margin-right: 50px;
	}
	.content-sorg > h2{
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.content-sorg > h3{
		font-size: 1em;
		width: 100%;
		margin-bottom: 10px;
	}

	.get-started-om{
		height: 500px;
	}
	.content-om{
		text-align: center;
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}
	.content-om > h2{
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.content-om > h3{
		font-size: 1em;
		width: 100%;
		margin-bottom: 10px;
	}

	.terms-section {
		margin-bottom: -50px;
		margin-left: 0px;
	}

	.grid-articles{
		grid-template-columns: 100%;
		display: grid;
		grid-template-rows: repeat(2, 300px);
		width: 100%;
		margin: 0 auto;
		align-items: center;
		text-align: center;
		padding: 10px;
	}
	.grid-articles > article {
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 0px;
		text-align: left;
	}
	.grid-articles > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		width: 100%;
		margin: 0 auto;
	}

	.grid-articles-sorg{
		grid-template-columns: 100%;
		display: grid;
		grid-template-rows: repeat(2, 400px);
		row-gap: 10px;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		text-align: center;
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.grid-articles-sorg > article {
		margin-top: 20px;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 0px;
		text-align: left;
		width: 90%;
	}
	.grid-articles-sorg > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		width: 100%;
		margin: 0 auto;
	}

	.container-grid-articles-om{
		padding-bottom: 80px;
	}
	.container-grid-articles-om > h2{
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.grid-articles-om{
		grid-template-columns: 100%;
		display: grid;
		grid-template-rows: repeat(2, 500px);
		width: 90%;
		margin: 0 auto;
		row-gap: 5rem;
		align-items: center;
		text-align: center;
		padding-bottom: 50px;
	}
	.grid-articles-om > article {
		padding: 0px;
		padding-top: 50px;
		margin: 0px;
		text-align: center;
	}

	.container-grid-articles-kontakt{
	}
	.grid-articles-kontakt {
		flex-direction: column;
	}

	.info-article,
	.form-article {
		width: 90%;
		padding: 10px;
	}
	.form-article {
		/* Ensure the form elements fit within the container */
		box-sizing: border-box; /* Include padding and border in element's total width and height */
	}

	.grid-options{
		grid-template-columns: 110%;
		display: grid;
		grid-template-rows: repeat(3, 450px);
		row-gap: 0rem;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		margin-top: 50px;
		padding-top: 20px;
	}
	.grid-options > article{
	}
	.grid-options > article > img{
		height: 6rem;
		width: auto;
		margin: 0;
	}
	.grid-options > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		margin: 0 auto;
	}

	.button-container{
		padding: 10px 20px;
		width: 90%;
		height: auto;
		padding-bottom: 50px;
	}

	.valkommen{
		margin-bottom: 0px;
		width: 90%;
	}

	.valkommen-sorg > h2{
		width: 90%;
	}
	.valkommen-sorg > h3{
		width: 90%;
	}
	.valkommen-sorg > p{
		width: 90%;
	}
	.valkommen-sorg strong {
		font-weight: 100;/
		width: 90%;
	}
	.centered-list{
		width: 90%;
		margin: 0px;
		padding: 0px;
		text-align: left;
		align-items: center;
	}

	.valkommen-sorg-2{
		max-width: 100%;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}
	.valkommen-sorg-2 > h3{
		width: 90%;
		text-align: center;
	}
	.valkommen-sorg-2 > p{
		width: 90%;
		text-align: center;
	}

	.grid-options-tjanster{
		grid-template-columns: 110%;
		display: grid;
		grid-template-rows: repeat(3, 400px);
		row-gap: 0rem;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		padding-top: 40px;
	}
	.grid-options-tjanster > article{

	}
	.grid-options-tjanster > article > img{
		height: 5rem;
		width: auto;
	}
	.grid-options-tjanster > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		width: 90%;
		margin: 0 auto;
	}
	.Vad-tjanser{
		padding-bottom: 30px;
	}
	.Vad-tjanser > h2{
		width: 90%;
		text-align: center;
	}
	.Vad-tjanser > h3{
		width: 90%;
		text-align: center;
	}
	.Vad-tjanser > p{
		width: 90%;
		text-align: center;
	}

	.grid-options-tjanser-2{
		grid-template-columns: 110%;
		display: grid;
		grid-template-rows: repeat(3, 230px);
		width: 100%;
		margin: 0 auto;
		align-items: center;
		row-gap: 0rem;
		padding-bottom: 30px;
	}
	.grid-options-tjanser-2 > article > h3{
		font-size: 1.3em;
		font-weight: 100;
		width: 90%;
		margin: 0 auto;
	}

	.stay-productive {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.stay-productive-image {
		flex: 1 1 auto;
		max-width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.stay-productive > .text {
		margin-top: 20px;
		max-width: 90%; /* Increase the text width */
		text-align: left; /* Left-align text */
	}
	.button-stay-productive {
		margin-top: 10px;
	}
	.stay-productive > .text > p > strong {
		font-size: 1.3em;
		font-weight: 100;
	}

	.stay-productive-sorg{
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 0px;
		padding-top: 20px;
		padding-bottom: 70px;
		width: 100%;
	}
	.stay-productive-image-sorg{
		flex: 1 1 100%;
		margin: 0;
		padding: 0;
	}
	.stay-productive-sorg > .text-sorg{
		margin: 0;
		padding: 0;
		max-width: 90%;
	}
	.stay-productive-sorg > .text-sorg > h2{
		text-align: left;
	}
	.stay-productive-sorg > .text-sorg > p{
		text-align: left;
	}

	.stay-productive-om {
		flex-direction: column;
		text-align: center;
		padding: 10px; /* Adjust padding */
		margin: 0 auto; /* Center the container */
		overflow: hidden; /* Prevent overflow issues */
		padding-bottom: 70px;
	}

	.stay-productive-image-om {
		flex: 1 1 auto;
		max-width: 80%; /* Image width for mobile */
		height: auto;
		margin: 0 auto; /* Center the image */
		padding: 0; /* Ensure no padding */
		display: block; /* Ensure image is block-level */
	}

	.text-om {
		max-width: 95%;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.text-om > h2 {
		margin: 0 auto 30px;
		text-align: center;
		padding-top: 20px;
	}

	.text-om > p {
		margin: 0 auto;
		text-align: center;
	}
	.faq-container {
		padding: 0px;
	}

	.faq-container {
		flex-direction: column;
		grid-gap: 0px;
	}

	.quotes{
		flex-direction: column;
		text-align: left;
	}
	.quotes > img{
		margin-top: -20px;
		margin-left: 12px;
	}
	.quotes > .container{
		width: 80%;
		margin: 15px auto;
	}

	.early-access-card > *{
		margin: 10px auto;
		padding: 0;
		margin-bottom: 15px;
	}
	.early-access-card > .email-form > input{
		padding: 10px 20px;
		width: 76%;
		height: auto;
		margin: 0;
	}
	.early-btn{
		margin: 20px 0;
		padding: 10px 20px;
		width: 90%;
		height: auto;
	}
	.early-access-card h2,
	.early-access-card h3,
	.early-access-card p {
		font-weight: bold;
	}

	.image-grid {
		flex-direction: column;
		gap: 15px;
	}

	footer {
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	footer > .column {
		width: 100%;
	}
	footer > .h3-link {
		text-align: center;
		align-items: center;

	}

	footer > .column:nth-child(2n) {
		margin-left: 0;
		margin-top: 0px;
	}

	footer > .column:nth-child(2n+1) {
		margin-right: 0;
		margin-top: 0px;
	}
}


@keyframes imageFlow{
	from {transform: translate3d(0, -100%, 0);}
	50% {transform: translate3d(0, 10%, 0);}
	to {transform: none;}
}

.imageFlow {
	animation-name: imageFlow;
	animation-fill-mode: forwards;
	animation-duration: 0.7s;
}
